h3{
    width: 500px;
    height: 50px;
  font-size: large;
}
.btn-info:hover { 
    background-color: red;
 }
 @keyframes example{
     from{box-shadow: 1px 1px 30px rgb(182, 143, 13);
    }
     to{box-shadow: 1px 1px 30px yellow;}
 }
 canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }